@{
    ViewData["Title"] = "Fake Bank - Employee Terminal";
}

<div style="height:100%; width:100%;">
    <div class="row">
        <div class="jumbotron h3"> Welcome to Fake Bank's Employee Terminal</div>
    </div>
    <div class="row">
        <ul class="list-inline">
            <li><a href="@Url.Action("CreateNew","Customer")" class="btn btn-primary">Create Customer</a></li>
            <li><a href="@Url.Action("CreateNew","Account")" class="btn btn-primary">Create Account</a></li>
            <li><a href="@Url.Action("SelectCustomer","Customer")" class="btn btn-primary">Select Customer</a></li>
        </ul>
    </div>
</div>